/*alquiler------------------------------------------------------------------------*/
.alquiler{
    h1{
        font-size: 5rem;
        color: $azul;
    }
    img{
        height: auto;
        
    }
    .tarjeta{
        border: $azul solid 1px;
        
    }
}